extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      a.navbar-brand(href='/') Azure Storage Tools

  .container


  h1= title
  p Welcome to #{title}